﻿@model Candidate_Management_System.Models.Skill
<div class="row mb-2">
    <div class="col-10">
        @Html.DropDownListFor(x => x.SkillId, ViewBag.Skills as SelectList, "---Select---",new { @class = "form-control mb-2" })
    </div>
    <div class="col-2">
        <a  id="btnDeleteSkill" class="btn btn-danger me-2">
            <i class="fa fa-trash"></i>
        </a>
    </div>
</div>
